{require_otp_vsn, "R14|R15|R16"}.
{require_otp_min_vsn, "R15"}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{erl_opts, [
		 debug_info,
		 warn_format, 
	     warn_export_all,
	     warn_export_vars,
	     warn_obselete_guard,
	     warn_unused_import,
	     warn_bif_clash,
	     warn_missing_spec,
	     warn_utyped_record,
	     {i, "include"},
	     {i, "apps/spark_mnesia_cache/include"},
	     {i, "deps/lager/include"},
	     {parse_transform, lager_transform}]}.


{deps, [
  {gold_rush, ".*", {git, "https://github.com/DeadZen/goldrush.git","master"},[raw]},
  {lager, ".*",{git, "https://github.com/basho/lager.git","master"},[raw]},
  {unsplit, ".*",{git, "https://github.com/uwiger/unsplit.git", "master"},[raw] }
]}.

{pre_hooks, []}.

{post_hooks, []}.

{lib_dirs, ["deps", 
			"apps/spark_mnesia_cache"			
]}.

{sub_dirs,["deps", "rel"]}.